
.mainbody {
color: black; background-color: white;
font-size: 100.01%;
font-family: Helvetica,Arial,sans-serif;
margin: 0; padding: 1em 0;
text-align: center;  /* IE */
background: #030A35 url('gfx/bg.jpg') no-repeat;
background-position: center top;
}


/* all-including div */

div#page {
	text-align: left;
	margin: 0 auto;
	width: 95%;
	padding: 0;
	/*background: #6A93D4 url(gfx/black.gif) repeat-y;*/
	background-color: #6A93D4;
	border: 5px solid #7080D7;
	border-style: outset;
}

#warning {
	background-color: red;
	display: none;
}

#browsertip {
	background-color: #00B358;
	display: none;
}

h1 {
	font-size: 2em;
	margin: 0; padding: 0.3em;
	text-align: center;
	border-bottom: 2px black;
	border-bottom-style: dashed;
}

h2 {
	font-size: 1em;
	margin: 0; padding: 0.3em;
	text-align: center;
}

/* content */
/* "Schulrundgang"*/
table#srg{
	background: url('content/schulrundgang/ueberblick.png') no-repeat;
	width: 736px;
	height: 998px;
	table-layout: fixed;
}
table#srgA{
	background: url('content/schulrundgang/grundriss.png') no-repeat;
	width: 1702px;
	height: 1288px;
	table-layout: fixed;
}

.img {
	background: url('gfx/button_s.png') no-repeat;
	cursor: crosshair;
}


/* navigation */

ul#navigation {
	float: left;
	width: 10em;
	margin: 0 0 1.2em;
	padding: 0;
	/*background-color: #447BD4;*/
}

ul#navigation li {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0.5em;
}

ul#navigation a {
	display: block;
	text-decoration: none; /*no underlining*/
	padding: 0.2em;
	font-weight: bold;
}

/*classes for different link styles*/
.linkA {background-color: #104BA9; color: white;}
.linkB {background-color: #447BD4; color: black;}
.linkC {background-color: #FF6700; color: black;}
.linkOn {background-color: #7CE700; color: black;}
.linkSrg {
	background-color: #104BA9;
	color: white;
	font-weight: bold;
	padding: 5px;
	-moz-border-radius: 15px;
	cursor: pointer;
}

ul#navigation a:link {
	border: 2px solid #191919;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

ul#navigation a:hover {
	color: #000E67;
	background-color: #E7A500;
}

ul#navigation a:active {
	color: white;
	background-color: gray;
}


/* main */

div#main {
	margin: 0 0 1em 220px;
	padding: 0 1em;
}

* html div#main {
	height: 1em; /* Workaround gegen den 3-Pixel-Bug des Internet Explorer bis Version 6 [by selfhtml.org] */
	margin-bottom: 0;
}

div#main h2 {
	font-size: 1.2em;
	margin: 0.2em 0;
	color: navy;
}

div#main p {
	font-size: 1em;
	margin: 1em 0;
}

div#main h3 {
	font-size: 1.2em;
	margin: 0.2em 0;
	color: navy;
}


/* footer */
p#footer {
	clear: both;
	margin: 0;
	padding: 0.1em;
	text-align: center;
	color: white;
	background-color: #1E2A77;//#071871;
	border-top: 1px solid silver;
}
