
body {
color: black; background-color: white;
font-size: 100.01%;
font-family: Helvetica,Arial,sans-serif;
margin: 0; padding: 1em 0;
text-align: center;  /* IE */
background: #030A35 url('gfx/bg.jpg') no-repeat fixed;
background-position: center top;
}


/* all-including div */

div#page {
	display: none;
	text-align: centre;
	margin: 0 auto;
	width: 75%;
	padding: 10px;
	/*background: #6A93D4 url(gfx/black.gif) repeat-y;*/
	background-color: #6A93D4;
	border: 5px solid #7080D7;
	border-style: outset;
}


h1 {
	font-size: 2em;
	margin: 0; padding: 0.3em;
	text-align: center;
	/*background: #fed url(gfx/bg.jpg);/* repeat 100% 45%;*/
	border-bottom: 2px black;
	border-bottom-style: dashed;
}
h2 {
	color: white;
}

h3 {
	font-size: 4em;
	color: white;
	margin: 0; padding: 0.5em;
	text-align: center;
	/*background: #fed url(gfx/bg.jpg);/* repeat 100% 45%;*/
	border-bottom: 2px black;
	border-bottom-style: dashed;
}

p {
color: white;
}

/* home */

ul#home {
	float: left;
	width: 10em;
	margin: 0 0 1.2em;
	padding: 0;
	/*background-color: #447BD4;*/
}

ul#home li {
	list-style: none;
	text-align: center;
	margin: 0px;
	padding: 0.5em;
}

ul#home a {
	display: block;
	padding: 0.2em;
	font-weight: bold;
}

ul#home a:link {
	color: black;
	background-color: #5D6DCF;
	//background-color: #1144AA;
	border: 2px solid #191919;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

ul#home a:hover {
	color: #000E67;
	background-color: #E7A500;
}

ul#home a:active {
	color: white;
	background-color: gray;
}


	/* home-navigation */

ul#home-navigation {
	float: left;
	width: 100%;
	margin: 0 0 1.2em;
	padding: 0;
	/*background-color: #447BD4;*/
}

ul#home-navigation li {
	list-style: none;
	text-align: center;
	margin: 0px;
	padding: 0.5em;
}

ul#home-navigation a {
	display: block;
	padding: 0.2em;
	font-weight: bold;
}

ul#home-navigation a:link {
	color: black;
	background-color: #5D6DCF;
	//background-color: #1144AA;
	border: 2px solid #191919;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

ul#home-navigation a:hover {
	opacity: 0.5;
}

ul#home-navigation a:active {
	color: white;
	background-color: gray;
}


/* main */

div#main {
	margin: 0 0 1em 20px;
	padding: 0 1em;
}

* html div#main {
	height: 1em; /* Workaround gegen den 3-Pixel-Bug des Internet Explorer bis Version 6 [by selfhtml.org] */
	margin-bottom: 0;
}

div#main h2 {
	font-size: 1.2em;
	margin: 0.2em 0;
	color: white;
}

div#main p {
	font-size: 1em;
	margin: 1em 0;
}

#column1 {
	  float:left;
	  width: 40%;
	  margin-left: 8%; 
	}

#column2 {
	  float:right;
	  width: 40%;
	  margin-right: 8%; 
	}
	

/* footer */
p#footer {
	clear: both;
	margin: 0;
	padding: 0.1em;
	text-align: center;
	color: white;
	background-color: #1E2A77;//#071871;
	border-top: 1px solid silver;
}